/*返回按钮*/
input.back_btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #C0C0C0;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;float: right
}

table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #62b9db;
    border-collapse: collapse;
}
table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    /*border-color: #a9c6c9;*/
}
table.altrowstable td {
    border-width: 0px;
    padding: 8px;
    border-style: solid;
    /*border-color: #89e2ee;*/
}
.oddrowcolor{
    background-color: #e6fafa;
}
.evenrowcolor{
    background-color: #c5d8e0;
}
.container{
    display: flex;
    flex-direction: column;
}
/*发帖的遮罩和弹窗*/
/* 遮罩层样式 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none; /* 默认隐藏 */
}
/*弹窗样式*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* 默认隐藏 */
}
/*回复的遮罩和弹窗*/
/*遮罩样式*/
.reply_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none; /* 默认隐藏 */
}
/*弹窗样式*/
.reply_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* 默认隐藏 */
}
label {
    width: 100px;
    margin-bottom: 10px;
}

input[type="text"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}
button{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0069d9;
}
.buttons{
    text-align: center;
    margin-top: 20px;
}
input.reply_btn{
    font-size: 10px;
    background-color: #C0C0C0;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}